---
import Layout from '@/components/layouts/Layout.astro';
import { getTags, getTagPosts } from '@/services/post/tag';
import type { GetStaticPaths } from 'astro';
import type { Post } from '@/types/types';

export const getStaticPaths: GetStaticPaths = async () => {
  const tags = await getTags();

  const data = [];

  for (const tag of tags) {
    const posts = await getTagPosts(tag);
    data.push({
      params: { tag },
      props: { posts },
    });
  }

  return data;
};

interface Props {
  posts: Post[];
}

const { tag } = await Astro.params;
const { posts } = (await Astro.props) as Props;
---

<Layout>
  <div class="mx-auto max-w-3xl px-4 py-12">
    <h2 class="text-3xl font-bold mb-8">
      タグ: <span class="text-blue-600">#{tag}</span>
    </h2>

    <ul class="space-y-6">
      {
        posts.map((post) => (
          <li class="border-b border-gray-200 pb-4">
            <a href={`/article/${post.slug}/`} class="block group">
              <h3 class="text-xl font-semibold text-gray-800 group-hover:text-blue-600 transition">
                {post.data.title}
              </h3>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
