---
import Layout from '@/components/layouts/Layout.astro';
---

<Layout>
  <div class="p-10">
    <div class="space-y-3">
      <div>
        <a href="/auth" class="app-link-normal">認証</a>
      </div>
      <div class="pt-10">
        <a href="/development" class="app-link-normal">development</a>
      </div>
    </div>
  </div>
</Layout>
