---
import Layout from '@/components/layouts/Layout.astro';
const sectionClass = 'border-4 p-5 border-gray-400 rounded-lg';
---

<Layout>
  <div class="mx-auto space-y-10 p-5">
    <div>開発者向けページ</div>
    <div class={sectionClass}>Test Area</div>
  </div>
</Layout>
