---
import Layout from '@/components/layouts/Layout.astro';
import TweetArea from '@/components/tweet/TweetArea.vue';
---

<Layout>
  <div class="mx-auto p-5">
    <TweetArea client:load />
  </div>
</Layout>
